{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Erreur blablabla
{% endblock %}

{% block body -%}

    <div class="page-header">
        <h1>Erreur Blablabla</h1>
    </div>
{% endblock %}